.home_container {
    box-sizing: border-box;
    max-width: 1300px;
    margin: auto;
    color: aliceblue;
    font-family: "Preahvihear", sans-serif;
    display: flex;
    padding: 120px;
    position: relative;
    right: -30px;
    justify-content: center;
    height: 100vh;
    gap: 10px;
}

.person_img {
    width: 200px;
}

.img_home_div {
    position: relative;
}

.blur {
    box-shadow: 0 0 120px 100px #6817b3;
    position: absolute;
    top: 5.5rem;
    left: 50%;
    z-index: -100;
}

.blur2 {
    box-shadow: 0 0 120px 100px #6817b3;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    z-index: -100;
}

.text_home {
    max-width: 600px;
    position: relative;
    top: -5rem;
    display: flex;
    flex-direction: column;
}

.presentation_home {
    position: relative;
    top: -2rem;
    left: -1rem;
}

.curvy_arrow {
    position: relative;
    top: 1.6rem;
    left: -5.3rem;
    width: 3.75rem;
}

.text_home p {
    font-size: 0.875rem;
}

.top_home_text {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #ffffffc4;
}

.text_home h1 {
    font-weight: 400;
    font-size: 2.5rem;
}

.text_home span {
    color: var(--span-text);
}

.footer_home_text {
    color: rgb(205, 205, 205);
}

.home_profission {
    position: relative;
    font-family: 'Preahvihear', sans-serif;
    top: 5rem;
    right: 10.8rem;
}

.home_profission h1 {
    font-weight: 100;
}

.home_profission p {
    position: relative;
    top: -1rem;
    font-size: 0.875rem;
}

.home_profission img {
    width: 0.8rem;
    margin: 0px 3px 0px 5px;
    vertical-align: middle;
}

.home_profission span {
    color: #1877F2;
}

.text_profission {
    margin-top: 20px;
}