/*Color Variables*/
:root {
    --header: #1A0B2E;
    --main-bg: #11071f;
    --span-text: #7127BA;

    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    background: var(--main-bg);
}